* {
    box-sizing: border-box;
}

.wrapper {
    width: 300px;
    border: 1px solid black;
}

.todo-list {
    background-color: antiquewhite;
}

.todo-list li {
    list-style: none;
    background-color: #fff;
    width: 80%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.todo-list li button {
    float: right;
}

.done {
    text-decoration: line-through;
}

.btn-download {
    
}